<section class="content">
    <div class="container-fluid">

        <div class="card card-dark m-3 ">
            <div class="card-header d-flex justify-content-center ">
                <h5 class=" my-auto mr-auto">Data Categories</h5>
                <div class="card-tools my-auto">
                    <!-- This will cause the card to collapse when clicked -->

                    <button type="button" class="btn btn-tool"><i class="fa-solid fa-print"></i></button>
                    <button type="button" class="btn btn-tool"><i class="fa-solid fa-arrow-rotate-right"></i></button>

                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="card-body">
                <div class="d-flex mb-3 justify-content-between">
                    <!--Add Button-->
                    <a name="add" id="" class="btn btn-info mr-2 mr-sm-auto" href="#" data-toggle="modal"
                        data-target="#addCategory" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline ml-1">
                            Add Category
                        </span>
                    </a>                    
                    <!--Search-->
                    <form class="form-inline">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search"
                                aria-label="Recipient's username" aria-describedby="button-addon2" id="mysearch">
                        </div>
                    </form>
                </div>

                <div class="collapse" id="contentId">

                </div>
                <% if (!Categories.error) { %>
                    <div class="table-responsive ">
                        <table class="table table-striped text-center " id="dt_category">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col" style="min-width: 144px;" class="col">Category Name</th>
                                    <th scope="col" style="min-width: 144px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% //Tampilkan semua data dari tabel  %>
                                <% let number = 1 %> 
                                <% Categories.forEach(category => { %>
                                    <tr>
                                        <td scope="row" class="align-middle"><%= number %></td>
                                        <td class="align-middle"><%= category.name %></td>
                                        <td>
                                            
                                            <button type="submit" name="" id="" class="btn btn-dark btn-sm px-3 mx-1" data-toggle="modal"
                                            data-target="#edit<%= category.id_category %>"  role="button">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                            <form action="/admin/categories/<%= category.id_category %>?_method=DELETE" method="POST" class="d-inline">
                                                <button type="submit" name="" id="" class="btn btn-danger btn-sm px-3 mx-1">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                            
                                        </td>
                                    </tr>
                                <% number++ }) %>  
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <div class="d-flex flex-column p-3 align-items-center justify-content-center">
                        <img src="/images/nodata.svg"  alt="no data found" class="w-25 mx-auto">
                        <h3 class="text-bold text-gray mt-4">No category found</h3>
                    </div>
                <% } %>
                
            </div>

            
        </div>
        <!-- /.card -->
    </div>
    <!--Modal to Input Category-->
    <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/categories" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Category Name</label>
                            <input type="text" class="form-control mb-3" name="name" id=""
                                placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary "
                            data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Modal-->
    <!--Modal to Edit Category-->
    <% if (!Categories.error) { %>
    <% Categories.forEach(category => { %>
        <div class="modal fade" id="edit<%= category.id_category %>"   tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/admin/categories" method="POST">
                        <input type="hidden" name="id_category" value="<%= category.id_category %> ">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="">Category Name</label>
                                <input type="text" class="form-control mb-3" name="name" id=""
                                    placeholder="" value="<%= category.name %>">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark "
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Add Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    <% })} %>  
    <!--End Modal-->
    
</section>
<script>
    //membuat tabel category
    $(document).ready(function () {
        const table = $('#dt_category').DataTable({
            dom: 'rti<"card-footer d-flex justify-content-start bg-dark rounded-bottom p-0"lp>',
            "paging": true,
            "serverSide": false,
            "pageLength": 10,
            "language": {
                "lengthMenu": "Show _MENU_"
              }

        });
        // search tabel
        $('#mysearch').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
        // jika nilai tabel berubah, style page button
        table.on( 'draw', function () {
            //styling page button
            $('.dataTables_paginate').addClass("my-auto")
            $('.dataTables_paginate .pagination').addClass("my-auto btn-group")
            $('.dataTables_paginate .pagination li').addClass("btn btn-dark")
            $('.dataTables_paginate .pagination li a').addClass("text-white")
        } );
        //positioning footer
        let $cardFooter = $('.dataTables_wrapper > .card-footer');
        $cardFooter.parent().after($cardFooter);
        $cardFooter = $('.table-responsive  > .card-footer');
        $cardFooter.parent().after($cardFooter);
        $cardFooter = $('.card-body  > .card-footer');
        $cardFooter.parent().after($cardFooter);
        //styling show entries
        $('.dataTables_length label').addClass("d-flex align-middle my-auto ml-3")
        $('.dataTables_length label select').addClass("py-0 h-0 bg-dark border-dark mx-1").removeClass("form-control")
        $('.dataTables_length').addClass("mr-auto my-auto")
        //styling page button
        $('.dataTables_paginate').addClass("my-auto")
        $('.dataTables_paginate .pagination').addClass("my-auto btn-group")
        $('.dataTables_paginate .pagination li').addClass("btn btn-dark")
        $('.dataTables_paginate .pagination li a').addClass("text-white")
    });
</script>